#tobar{
   color: #b0b0b0;
   line-height: 40px;
   display: inline-block;
   position: relative;
   z-index: 32;
   display: block;
   height: 40px;
   line-height: 40px;
   text-align: center;
   color: #b0b0b0;
   background: #424242;   
}
#train{
    padding: 0.5px;
    text-align: center;
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}
    
